extends layout

block content
  each submission in responses
    section
      each response in submission
        h2=response.key
        xmp(rows=(response.value || '').split('\n').length)!=(response.value || '')
  p made with https://github.com/adrienjoly/survey-response-browser